{:kotoba.app/id "cloud.itonami.isic-3811", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiflxzitmq5np64mgaciuiwqvu2zwrz7xreyte2ix5lahce3motghi", :kotoba.app/embed-url "ipfs://bafkreiflxzitmq5np64mgaciuiwqvu2zwrz7xreyte2ix5lahce3motghi", :published {:archive "https://kotobase.net/ipfs/bafkreiflxzitmq5np64mgaciuiwqvu2zwrz7xreyte2ix5lahce3motghi", :size 72943, :put-status 201, :get-status 200, :at "2026-08-15T13:50:32.919Z"}}
